@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-text: #000000;
  --color-background: #ffffff;
}

.dark-theme {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --color-text: #ffffff;
  --color-background: #000000;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  width: 100vw;
  height: 100vh;
  font-family: montserrat, sans-serif;
}

@media (min-width: 992px) {
  .home-section .container {
    max-width: 880px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* @media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
} */

/* @media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
} */

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
